2017 Bike DataJC-201701-citibike-tripdata.csvJC-201702-citibike-tripdata.csvJC-201703-citibike-tripdata.csvJC-201704-citibike-tripdata.csvJC-201705-citibike-tripdata.csvJC-201706-citibike-tripdata.csvJC-201707-citibike-tripdata.csvJC-201708-citibike-tripdata.csvJC-201709-citibike-tripdata.csvJC-201710-citibike-tripdata.csvJC-201711-citibike-tripdata.csvJC-201712-citibike-tripdata.csvPending.txt